.card-image {
    height: 100%;
    width: 100%;
}
.card {
    position: relative;   
}
.card-name {
    position: absolute;
    top: 50%;
    left: 30%;
    padding-top: 0.25em;
    transform: translateX(-50%);
    font-size: 2em;
    text-align: center;
    color: black;
}
.card-stats {
    position: absolute;
    list-style-type: none;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 84%;
    color: black;
}
.stat-item {
    font-size: 1.5em;   
    border: 1px solid black;   
}