@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Global CSS */
html, body {
    height: 100%;
    margin: 0;
    overflow: auto; 
}

body {
    position: relative;
    background: none; 
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(17, 29, 141), white);
    z-index: -1; 
}

button {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1 solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

button:active {
    background-color: rgba(0, 86, 179, 0.8);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    flex-shrink: 0;
}

.footer-links {
    font-size: 1.5em;
}

.footer-links .fa-logo {
    color: #000;
}

.fa-logo:hover {
    color: rgba(0, 123, 255, 0.8);
}

.fa-logo:active {
    color: rgba(0, 86, 179, 0.8);
}


/* Index page CSS */
.instructions {
    font-family: "Montserrat", sans-serif;
    background: rgba(255, 255, 255, 0.8);
    font-size: 0.75em;
    width: 90%;
    border: 2px solid #000;
    border-radius: 10px;
    font-weight: bold;
    padding: 0.25em;
    margin: 1em 0;
}

.name-request {
    font-family: "Montserrat", sans-serif;
    align-items: center;
    text-align: center;
}

.name-form {
    font-family: "Montserrat", sans-serif;
    align-items: center;
    text-align: center;
}

.name-form label,
.name-form input {
    margin: 5px;
    margin-bottom: 10px;
}

/* 404 Page */

/* Game page CSS */
.trainers_image {
    width: 100%;
    height: auto;
}

#card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#player-card, #opponent-card {
    width: 50%;
}

.card-container {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.card {
    width: 100%;
    background: transparent;
}

.card-name {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 0.4em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: black;
    z-index: 10;
}

.card-image {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5%;
}

.card-stats {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 7em;
    width: 90%;
    bottom: 5px;
    left: 17%;
}

.stat-item {
    font-size: 0.9em;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; 
}

.stat-item-hover {
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
}

.stat-item-active {
    background-color: rgba(0, 86, 179, 0.8);
    color: white;
}

.stat-name, .stat-value {
    font-size: 0.8em;
    padding: 0;
}

.hidden {
    display: none;
}

#deck-size-area {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 0.15em;
}

.player-deck-text, .opponent-deck-text {
    width: 30%;
    padding: 1em;
}

.player-deck-num, .opponent-deck-num {
    width: 20%;
    padding: 1em;
    padding-left: 2em;
}

#message-area {
    font-family: "Montserrat", sans-serif;
    background: rgba(255, 255, 255, 0.8);
    top: 110%;
    border: 2px solid #000;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    margin: 1em 0;
}

#stat-message {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5em;
}

/* Adjustments for larger screens */

@media (min-width: 375px) {
    .card-name {
        top: 0.5em;
    }
    .card-stats {
        top: 7.5em;
    }
}

@media (min-width: 390px) {
    .card-name {
        top: 0.6em;
    }    
    .card-stats {
        top: 8em;
    }
}

@media (min-width: 400px) {
    .card-name {
        top: 0.7em;
    }
    .card-stats {
        top: 8.5em;
    }
}

@media (min-width: 540px) {
    #player-card, #opponent-card {
        width: 48%;
    }
    .card-container {
        width: 100%;
        height: auto;
    }

    .card {
        width: 90%;
    }

    .card-stats {
        top: 9.5em;
        grid-template-columns: 1fr;
        bottom: 15px;
        width: 90%;
    }

    .stat-wrapper {
        width: 75%;
        left: 5%;
    }

    .stat-item {
        font-size: 1em;
    }

    .stat-name, .stat-value {
        font-size: 1em;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .instructions {
        font-size: 1em;
        width: 750px;
    }
    .card-name {
        top: 1.2em;
    }
    .card-stats {
        top: 13em;
        grid-template-columns: 1fr;
        bottom: 15px;
        width: 90%;
    }
    .stat-name, .stat-value {
        font-size: 1em;
        width: 50%;
        padding: 0.5em;
    }
}

@media (min-width: 1024px) {
    .card-name {
        font-size: 1em;
        top: 1.5em;
    }
    .card-stats {
        top: 18em;
        grid-template-columns: 1fr;
        bottom: 15px;
        width: 90%;
    }
    .stat-name, .stat-value {
        font-size: 1em;
        width: 50%;
        padding: 0.5em;
    }
    #deck-size-area {
        margin-top: 2%;
    }
}

@media (min-width: 1280px) {
    .card-name {
        font-size: 1em;
        top: 2em;
    }
    .card-stats {
        top: 22em;
        grid-template-columns: 1fr;
        bottom: 15px;
        width: 90%;
    }
    .stat-name, .stat-value {
        font-size: 1em;
        width: 50%;
        padding: 0.5em;
    }
}

@media (min-width: 1400px) {
    .card-name {
        font-size: 1em;
        top: 2.5em;
    }
    .card-stats {
        top: 25em;
        grid-template-columns: 1fr;
        bottom: 15px;
        width: 90%;
    }
    .stat-name, .stat-value {
        font-size: 1em;
        width: 50%;
        padding: 0.5em;
    }
}
